* {
    scroll-behavior: smooth;
}
body {
    color: darkslategrey;
    font-family: Arial, sans-serif;
    font-size: 17px;
}
    .text-center {
        text-align: center;
    }
    h2 {
        color: darkblue;
        background-color: lightskyblue;
        font-size: 24px;
    }
    h1, h2, a, a:visited {
        color: darkblue;
    }
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    img {
        border-radius: 50px;
    }

.intro h1 {
    color: darkblue;
    font-size: 30px;
}
.intro a {
    color: white;
}
.address nav a, .experience nav a, .competencies nav a, .academic nav a {
    color: skyblue;
}
.intro a:hover, nav a:hover {
    color: darkblue;
}